# Different types of print statement

In [2]:
# 1)Print statement using cooma separated values

In [12]:
name= 'Pratham'
age=22
salary=18000
print("hello my name is",name,"\nand age is ",age,"\n\tand salary is",salary)

hello my name is Pratham
and age is  22
	and salary is 18000

In [5]:
# 2)Print statement using fstring

In [6]:
name= 'abhishek'
age=21
salary=27000
print(f"Hello my name is {name} and my age is {age} and salary is {salary}")

Hello my name is abhishek and my age is 21 and salary is 27000

In [7]:
# 3)Print statement using .format

In [8]:
name='Pratham'
age=22
salary=18000
print("hey i am {} and my age is {} and salary is {}".format(name,age,salary))

hey i am Pratham and my age is 22 and salary is 18000

In [9]:
# 4)Print statemmet using modulo(%) operator

In [10]:
# string=%s
# integer=%d
# float=%a

In [11]:
name='Pratham'
age=22
salary=18000
print("Hello my name is %s and my age is %d and salary is %d"%(name,age,salary))

Hello my name is Pratham and my age is 22 and salary is 18000